.fc-daygrid-event {
    white-space: normal !important;
    align-items: normal !important;
    margin-bottom: 3px !important;
    border-radius: 4px !important;
    margin:2px !important
  
}

@media screen and (max-width: 768px) {
    .fc-daygrid-event {
        white-space: normal !important;
        align-items: normal !important;
        font-size: 10px !important;
      
    }
    .fc-button{
        position: relative;
        width:100px !important;
        height: 35px !important;
        margin: 2px !important;
        border-radius: 2px !important;
        font-size: 10px!important;
    }
    .fc-toolbar-title{
        font-size: 12px !important;
    }
}
    
